@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=STIX+Two+Text:wght@400;600&family=Spectral:wght@300;400&display=swap');

:root {
	--accent-strong: #e77224;
	--accent-light: #e2a453;
	--text-highlight: #9b480d;
	--text-footer-highlight: #e28f53;
	--background-highlight: #fff5eb;
	--background-footer: #fed;
}

body {
	margin: 0;
	color: #222;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: 'STIX Two Text', serif;
	font-size: 16px;
	line-height: 1.5em;
}

nav #menu-logo span,
footer .logo,
.accueil {
	font-family: 'Amiri', serif;
	white-space: pre;
}

a {
	text-decoration: none;
	color: #222;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 2em;
	z-index: 2;
}

nav {
	margin: auto;
	width: fit-content;
	border-bottom: 1px dashed #fff;
	padding-bottom: 1em;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.5em;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav a {
	padding: 0.5em;
	border: 1px solid transparent;
	color: white;
	font-size: 1em;
	font-weight: bold;
	white-space: nowrap;
	border-radius: 4px;
	transition: all 0.05s;
}

nav a:hover {
	border-color: #fff;
	background-color: #fff2;
}

nav a:focus-within {
	background-color: #fff4;
	border-color: #fff;
	outline: none;
}

nav #menu-logo {
	display: none;
}

nav #menu-logo a {
	margin-right: 3em;
	padding: 0.2em 0.5em;
}

nav #menu-logo span {
	display: block;
	font-size: 0.7em;
	line-height: 1em;
}

nav #menu-hamburger {
	display: none;
	padding: 6px;
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
}

nav #menu-hamburger div {
	height: 2px;
	width: 20px;
	background-color: #666;
	border-radius: 1px;
	margin: 4px;
}

nav #menu-hamburger:hover {
	border: 1px solid var(--text-highlight);
	background-color: var(--background-highlight);
}

nav #menu-hamburger:hover div {
	background-color: var(--text-highlight);
}

@keyframes fadeIn {
	0% {
		transform: translateY(-10em);
	}

	100% {
		transform: translateY(0em);
	}
}

header.sticky {
	position: fixed;
	padding-top: 1em;
	animation: fadeIn 0.6s;
}

header.sticky #menu-logo {
	display: flex;
}

header.sticky nav {
	padding: 0.7em;
	border-radius: 10px;
	background-color: #fffffff8;
}

header.sticky nav a {
	color: #333;
}

header.sticky nav a:focus,
header.sticky nav a:hover {
	color: #a6561d;
	border-color: #a6561d;
	background-color: #fff5eb;
}

.background {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	background: #e2a453;
}

.background .image {
	width: 60vw;
	height: 100vh;
	filter: brightness(0.9);
	position: relative;
}

.background .colour {
	width: 40vw;
	height: 100vh;
	background: #e2a453;
}

.accueil {
	display: flex;
	align-items: center;
	margin-left: 4em;
	height: 85vh;
	color: white;
}

.accueil h1 {
	font-size: 130px;
	line-height: 0.8em;
	margin: 0;
}

.accueil h1 span {
	display: block;
}

.accueil h2 {
	margin: 0.5em 0;
	font-size: 45px;
}

main {
	margin: auto;
	padding: 2em;
	border-radius: 10px;
	max-width: 1600px;
	width: calc(100% - 4em);
	overflow-x: hidden;
	background-color: #fff;
}

.categorie {
	margin-top: 10em;
	text-align: center;
}

.categorie .image {
	position: relative;
	border-radius: 8px;
	width: 100%;
	height: 40vw;
	max-height: 650px;
	overflow: hidden;
}

.categorie h2 {
	display: inline-block;
	font-size: 3em;
	margin: 0;
	padding: 0.75em 1em;
	background-color: white;
	border-radius: 8px;
	transform: translateY(-40px);
}

h3 {
	margin: 0;
	font-size: 2em;
	line-height: 1em;
}

.intro {
	width: 35em;
	max-width: calc(100% - 8em);
	padding: 2em 4em;
	margin: 4em auto 0 auto;
	border-radius: 10px;
	font-size: 1.2em;
	color: var(--text-highlight);
	background-color: var(--background-highlight);
}

.fabr_intro {
	max-width: 40em;
	margin: 0 auto 5em auto;
}

#creation-de-savon {
	text-align: center;
}

.fabr_wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, 256px);
	justify-content: center;
	gap: 2em;
	padding: 4em 2em;
	list-style: none;
}

.fabr_wrap h2,
.fabr_wrap h3 {
	text-align: left;
}

.fabr_desc {
	text-align: left;
}

.fabr_desc p {
	margin: 0.5em 0 1em 0;
}

.fabr_desc img {
	width: 100%;
	border-radius: 8px;
}

.info_wrap {
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 60em;
}

.info_box {
	display: inline-block;
	margin: 1em;
	padding: 2em;
	color: #a6561d;
	background-color: #fff5eb;
	border-radius: 8px;
}

.savon_wrap {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 0.7fr));
	justify-content: center;
	align-items: flex-start;
	gap: 4em;
	padding: 4em;
}

.info_box.lessive {
	text-align: left;
}

.info_box.lessive .info-titre {
	text-align: center;
	margin-bottom: 2em;
}

.info_box.lessive .info-titre h4 {
	margin: 0.2em;
	line-height: 1em;
}

.savon {
	text-align: left;
}

.savon .inner {
	display: grid;
	grid-template-columns: 200px 1fr;
	column-gap: 1em;
	margin-bottom: 1em;
	align-items: flex-start;
}

.savon .inner .image {
	position: relative;
	border-radius: 8px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.savon .inner h3 {
	margin: 0.5em 0;
}

.savon .inner p {
	margin: 0;
}

.savon .compo {
	font-style: italic;
}

.wrapper {
	padding: 0 2em;
}

.trouver_wrap {
	max-width: 1600px;
	text-align: left;
	margin: auto;
}

.trouver_wrap h3 {
	padding-top: 3em;
	margin: 0 0 1em 0;
	text-align: center;
}

.boutique_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.boutique_wrap div {
	width: 350px;
	margin: 1em;
	padding: 2em;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.boutique_wrap h4 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0;
	margin-bottom: 0.5em;
}

.boutique_wrap li {
	color: #444;
	list-style: none;
}

.boutique_wrap #alasavonnerie {
	width: 30em;
	max-width: 100%;
}

.boutique_wrap #alasavonnerie li {
	list-style: initial;
	margin-top: 1em;
}

.boutique_wrap li p {
	margin: 0;
}

.boutique_wrap li a {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-bottom: 0.5em;
	border: 1px dashed transparent;
	border-bottom: 1px dashed #222;
}

.boutique_wrap div a:hover {
	padding: 0 0.5em;
	margin-left: -0.5em;
	border-radius: 4px;
	color: var(--text-highlight);
	border: 1px solid var(--text-highlight);
	background-color: var(--background-highlight);
}

.boutique_wrap li.tag {
	display: inline-flex;
	font-size: smaller;
	margin: 0 0 0.5em -0.5em;
	padding: 2px 0.5em;
	border-radius: 8px;
	color: var(--text-highlight);
	background-color: var(--background-highlight);
}

.table_wrap {
	max-width: 1600px;
	margin: 2em auto;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	empty-cells: hide;
}

thead td:first-child {
	border-top-left-radius: 4px;
}

thead td:last-child {
	border-top-right-radius: 4px;
}

thead td {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	background-color: var(--accent-strong);
}

td {
	min-width: 220px;
	vertical-align: top;
	padding: 1rem;
}

tbody {
	text-align: left;
}

tbody td {
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-weight: normal;
}

tbody td p {
	margin: 0em;
	line-height: 1.2em;
}

tbody td p.nom {
	margin: 0.4em 0;
}

table small {
	color: #666;
}

#map {
	position: relative;
	width: 40%;
	height: 400px;
	background-image: url('/images/maps.webp');
	background-size: cover;
}

#map #map-activate {
	position: absolute;
	display: flex;
	place-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff2;
	backdrop-filter: blur(5px);
	cursor: pointer;
}

#map #map-activate:hover {
	background-color: #fff9;
}

@supports not (backdrop-filter: none) {
	#map #map-activate {
		background-color: #fffc;
	}
}

#map #map-activate button {
	font-size: 1em;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.3em 1em;
	background-color: #fff;
	cursor: pointer;
}

#map #map-activate:hover button {
	color: var(--text-highlight);
	border-color: var(--text-highlight);
	background-color: var(--background-highlight);
}

.adresse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4em;
}

.location {
	display: inline-block;
	text-align: center;
	padding: 1em 2em;
	font-size: 1.5em;
	text-align: left;
	line-height: 1em;
	font-weight: bolder;
	border-radius: 8px;
	color: var(--text-highlight);
	background-color: var(--background-highlight);
}

h2#foire-aux-questions {
	font-size: 3em;
	line-height: 1em;
	padding: 5em 0 1em 0;
	margin: 0;
	text-align: center;
}

.question {
	width: 70%;
	margin: 3em auto;
	overflow: hidden;
}

.question h3 {
	margin: 0;
	font-size: 1.5em;
}

.question p {
	display: block;
	margin: 1em 0;
	font-weight: normal;
}

footer {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fit, 600px);
	align-items: center;
	padding: 5em;
	row-gap: 10em;
	text-align: left;
	background-color: var(--background-footer);
}

footer a {
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 0.25em 0.5em;
	display: inline-block;
	text-decoration: none;
	transition: all 0.05s;
}

footer a:hover {
	border-color: var(--text-footer-highlight);
	color: var(--text-footer-highlight);
}

.logo {
	font-size: 70px;
	color: var(--text-footer-highlight);
	user-select: none;
}

.logo p,
.logo h2 {
	margin: 0;
	line-height: 0.8em;
}

.logo small {
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: -2px;
}

.index {
	display: flex;
	flex-direction: column;
}

.index h3 {
	margin: 1em 0 0.2em 0;
	font-size: 1.5em;
}

.index ul {
	padding-left: 0.5em;
}

.index li {
	list-style: none;
}

@media all and (max-height: 900px) {
	.accueil h1 {
		font-size: 90px;
	}

	.accueil h2 {
		font-size: 30px;
	}
}

@media all and (min-height: 910px) and (min-width: 1200px) {
	body {
		font-size: 18px;
	}
}

@media all and (max-width: 1200px) {
	nav ul {
		gap: 1em;
	}

	nav #menu-logo a {
		margin-right: 2em;
	}
}

@media all and (max-width: 1000px) {
	.background .colour {
		display: none;
	}

	.background {
		background-color: #222;
	}

	.background .image {
		width: 100vw;
		margin: -1em;
		transform: scale(1.1);
		filter: blur(10px) brightness(0.9);
		background-position: 75%;
	}

	nav {
		padding: 0 2em;
		border-bottom: none;
	}

	nav ul {
		flex-wrap: wrap;
		justify-content: flex-start;
		row-gap: 0.5em;
	}

	header.sticky nav ul {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
	}

	header.sticky nav ul li:not(:first-child) {
		display: none;
	}

	header.sticky.toggled nav ul li:not(:first-child) {
		display: block;
	}

	header.sticky nav #menu-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0;
	}

	header.sticky.toggled nav #menu-logo {
		margin-bottom: 1em;
	}

	header.sticky nav #menu-logo #menu-hamburger {
		display: block;
	}

	nav a {
		font-size: 0.9em;
	}

	.accueil h1 {
		font-size: 12vw;
	}

	.accueil h2 {
		font-size: 5vw;
	}

	.categorie div {
		height: 56vw;
	}

	.categorie h2 {
		font-size: 2em;
		line-height: 1em;
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
	}

	h2#foire-aux-questions {
		font-size: 2em;
	}

	main {
		border-radius: 0;
		margin-top: 0;
		padding-top: 2em;
	}

	.info_wrap,
	.info_box {
		flex-wrap: wrap;
	}

	.recette {
		margin-left: 0 !important;
	}

	#map {
		width: 100%;
	}

	.location {
		width: fit-content;
	}

	.logo {
		font-size: 55px;
	}
}

@media screen and (max-width: 768px) {
	.savon_wrap {
		grid-template-columns: auto;
		gap: 4em;
		padding: 0;
	}

	.savon .inner {
		display: flex;
		flex-direction: column;
	}

	.savon .inner .image {
		margin: auto;
	}

	.savon .inner h3 {
		text-align: center;
		margin-bottom: 1em;
	}

	.lessive {
		margin-top: 4em;
	}

	footer {
		padding: 4em;
		grid-template-columns: auto;
	}

	footer .logo {
		font-size: 40px;
	}
}

@media all and (max-width: 500px) {
	.savon,
	.trouver_wrap div,
	.question,
	.boutique_wrap div #map {
		width: 100%;
	}

	.contact p,
	.fabr_desc,
	.question p,
	.savon .desc,
	.savon_wrap .info_box p,
	.question,
	#map {
		margin-left: 0;
		margin-right: 0;
	}

	header.sticky {
		padding-top: 0.3em;
	}

	header.sticky nav {
		padding: 0.5em;
	}

	.accueil {
		margin-left: 1em;
		min-height: 90vh;
	}

	.accueil h1 {
		font-size: 50px;
	}

	.accueil h2 {
		font-size: 18px;
	}

	.fat {
		font-size: 1em;
	}

	.categorie > div {
		height: 50vh;
	}

	.categorie .image {
		height: 16em;
	}

	.categorie h2 {
		width: calc(100% - 3em);
		transform: translateY(-20px);
	}

	h3 {
		font-size: larger;
	}

	.wrapper {
		padding: 0 1em;
	}

	.intro {
		font-size: 1em;
		margin-top: 0;
		padding: 1em 2em;
		max-width: calc(100% - 4em);
	}

	.savon .inner h3 {
		margin: 1em 0;
		font-size: 2em;
		text-align: center;
	}

	.savon,
	.info_box {
		margin: 3em 0 1em 0;
	}

	.info_box {
		padding: 1em;
	}

	.lessive ul {
		padding-left: 1.2em;
	}

	.savon .inner img {
		margin: 0 auto;
	}

	.boutique_wrap div {
		margin: 1em 0;
	}

	.location {
		padding: 1em 2em;
		font-size: 1.2em;
	}

	footer .index ul {
		margin: 0;
	}

	footer .logo {
		font-size: 30px;
	}
}
