@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&display=swap');
/*/***/
::-moz-selection {
	background-color: #e77224;
	color: #ffffff;
}

::selection {
	background-color: #e77224;
	color: #ffffff;
}

body {
	margin: 0;
	color: #222;
	overflow-x: hidden;
	scroll-behavior: smooth;
	cursor: default;
	font-size: 21px;
	line-height: 25px;
	font-family: 'Amiri', serif;
}

a {
	text-decoration: none;
	color: #222;
}

nav {
	display: inline-flex;
	flex-direction: column;
	margin: 3em 0;
	color: white;
}

nav a {
	color: white;
	font-size: 25px;
	padding: 5px 20px;
	font-weight: bold;
	border-radius: 4px;
	transition: background-color 0.1s, color 0.1s;
}

nav a:hover {
	background-color: white;
	color: #e2a453;
}

.background {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	background: #e2a453;
}

.background .image {
	width: 60vw;
	height: 100vh;
	filter: brightness(0.9);
	position: relative;
}

.background .colour {
	width: 40vw;
	height: 100vh;
	background: #e2a453;
}

.accueil {
	min-height: 100vh;
	padding-left: 5vh;
	color: white;
}

.accueil .titre {
	margin: 10vh 0;
}

.accueil .titre h1 {
	font-size: 140px;
	line-height: 0.8em;
	margin: 0;
}

.accueil .titre p {
	margin: 0.5em 0;
	font-size: 50px;
	font-weight: bolder;
}

.fat {
	font-size: 1.2em;
	line-height: 1.2em;
}

.intro {
	margin: auto;
	max-width: 600px;
	width: 100%;
}

.content {
	margin: auto;
	padding: 2em;
	max-width: 1600px;
	width: calc(100% - 4em);
	overflow-x: hidden;
	background-color: #fff;
}

.categorie {
	margin-top: 25vh;
	text-align: center;
}

.categorie .image {
	position: relative;
	border-radius: 8px;
	width: 100%;
	height: 46vw;
	max-height: 750px;
	overflow: hidden;
}

.categorie h2 {
	display: inline-block;
	font-size: 3.5em;
	margin: 0;
	padding: 1em;
	background-color: white;
	border-radius: 8px;
	transform: translateY(-40px);
}

h3 {
	margin: 0;
	font-size: 2em;
	line-height: 1em;
}

.fabr_intro {
	max-width: 800px;
	margin: 0 auto 10vh auto;
}

#creation-de-savon {
	text-align: center;
}

.fabr_wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, 256px);
	justify-content: center;
	gap: 2em;
	padding: 4em 2em;
}

.fabr_wrap h2,
.fabr_wrap h3 {
	text-align: left;
}

.fabr_desc {
	text-align: left;
}

.fabr_desc p {
	margin: 0.5em 0 1em 0;
}

.fabr_desc img {
	width: 100%;
	border-radius: 8px;
}

.info_wrap {
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 60em;
}

.info_box {
	display: inline-block;
	margin: 1em;
	padding: 1.5em;
	color: #fafafa;
	background-color: #e77224;
	border-radius: 4px;
	text-align: justify;
}

.info_box h3 {
	line-height: 1em;
}

.savon_wrap {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 0.7fr));
	justify-content: center;
	align-items: flex-start;
	gap: 4em;
	padding: 4em;
}

.savon {
	text-align: left;
}

.savon .inner {
	display: grid;
	grid-template-columns: 200px 1fr;
	column-gap: 1em;
	margin-bottom: 1em;
	align-items: flex-start;
}

.savon .inner .image {
	position: relative;
	border-radius: 8px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.savon .inner h3 {
	margin: 0.5em 0;
}

.savon .inner p {
	margin: 0;
}

.savon .compo {
	font-style: italic;
}

.savon_wrap .info_box {
	display: flex;
	align-items: center;
	margin: 4em auto;
	max-width: 1000px;
	text-align: left;
}

.savon_wrap .info_box p {
	margin: 1em;
}

.wrapper {
	padding: 0 2em;
}

.trouver_wrap {
	max-width: 1600px;
	text-align: left;
	margin: auto;
}

.trouver_wrap h3 {
	padding-top: 3em;
	margin: 0 0 1em 0;
	text-align: center;
}

.boutique_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.boutique_wrap div {
	width: 350px;
	margin: 1em;
	padding: 2em;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.boutique_wrap h4 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0;
	margin-bottom: 0.5em;
}

.boutique_wrap li {
	color: #444;
	list-style: none;
}

.boutique_wrap li p {
	margin: 0;
}

.boutique_wrap li a {
	display: inline-block;
	color: #444;
	margin-bottom: 0.3em;
	border-bottom: 1px dotted #333;
}

.trouver_wrap div a:hover {
	color: #e77224;
	border-bottom: 1px dotted #e77224;
	transition: all 0.2s;
}

.trouver_wrap div small {
	color: #777;
	font-size: 0.9rem;
	line-height: 0.9rem;
}

.boutique_wrap b {
	color: #e77224;
}

.table_wrap {
	max-width: 1600px;
	margin: 2em auto;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	empty-cells: hide;
}

thead td:first-child {
	border-top-left-radius: 4px;
}

thead td:last-child {
	border-top-right-radius: 4px;
}

thead td {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	background-color: #e77224;
}

td {
	min-width: 200px;
	vertical-align: top;
	padding: 1rem;
}

tbody {
	text-align: left;
}

tbody td {
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-weight: normal;
}

tbody td p {
	margin: 0em;
}

tbody td p.nom {
	margin: 0.4em 0;
}

table small {
	color: #777;
}

table .annule {
	border: 2px dashed red;
	background: #f002;
}

table .annule b {
	color: #f00;
}

#map {
	width: 40%;
	height: 400px;
}

.adresse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4em;
}

.location {
	display: inline-block;
	text-align: center;
	padding: 1em 2em;
	font-size: 1.5em;
	text-align: left;
	line-height: 1em;
	font-weight: bolder;
	border: 1px solid #ddd;
	border-radius: 8px;
}

h2#foire-aux-questions {
	font-size: 3em;
	line-height: 1em;
	padding: 5em 0 1em 0;
	margin: 0;
	text-align: center;
}

.question {
	width: 70%;
	margin: 3em auto;
	overflow: hidden;
}

.question h3 {
	margin: 0;
	font-size: 1.5em;
}

.question p {
	display: block;
	margin: 1em 0;
	font-weight: normal;
}

footer {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fit, 600px);
	align-items: center;
	padding: 5em;
	row-gap: 10em;
	text-align: left;
	background-color: #fed;
}

footer a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s;
}

footer a:hover {
	color: #e28f53;
	transform: translateX(10px);
}

.logo {
	font-size: 70px;
	color: #e28f53;
	user-select: none;
}

.logo p,
.logo h2 {
	margin: 0;
	line-height: 0.8em;
}

.logo small {
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: -2px;
}

.index {
	display: flex;
	flex-direction: column;
}

.index > div {
	margin: 1em;
}

.index h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.5em;
}

.index li {
	list-style: none;
	padding: 0.2em 0.5em;
}

@media all and (max-width: 1000px) {
	.background .colour {
		display: none;
	}

	.background .image {
		width: 100vw;
		filter: brightness(0.6);
		background-position: 75%;
	}

	.accueil .titre h1 {
		font-size: 12vw;
	}

	.accueil .titre p {
		font-size: 5vw;
	}

	.categorie div {
		height: 56vw;
	}

	.categorie h2 {
		font-size: 2em;
		line-height: 1em;
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
	}

	.content {
		margin-top: 0;
		padding-top: 2em;
	}

	.info_wrap,
	.info_box {
		flex-wrap: wrap;
	}

	.recette {
		margin-left: 0 !important;
	}

	.location,
	#map {
		width: 100%;
	}

	.logo {
		font-size: 55px;
	}
}

@media screen and (max-width: 768px) {
	.savon_wrap {
		grid-template-columns: auto;
		gap: 4em;
		padding: 0;
	}

	.savon .inner {
		display: flex;
		flex-direction: column;
	}

	.savon .inner .image {
		margin: auto;
	}

	.savon .inner h3 {
		text-align: center;
		margin-bottom: 1em;
	}

	footer {
		padding: 4em0;
		grid-template-columns: auto;
	}

	.logo {
		font-size: 40px;
	}
}

@media all and (max-width: 500px) {
	.savon,
	.trouver_wrap div,
	.question,
	.boutique_wrap div #map {
		width: 100%;
	}

	.contact p,
	.fabr_desc,
	.question p,
	.savon .desc,
	.savon_wrap .info_box p,
	.question,
	#map {
		margin-left: 0;
		margin-right: 0;
	}

	.accueil .titre h1 {
		font-size: 50px;
	}

	.accueil .titre p {
		font-size: 18px;
	}

	.fat {
		font-size: 1em;
	}

	.accueil nav {
		padding-top: 1em;
	}

	.accueil nav a {
		font-size: 18px;
		line-height: 18px;
		margin: 0;
	}

	.categorie > div {
		height: 50vh;
	}

	.categorie h2 {
		font-size: 1.5em;
		border-radius: 0;
		transform: translateY(0px);
	}

	h3 {
		font-size: larger;
	}

	.wrapper {
		padding: 0 1em;
	}

	.savon .inner h3 {
		margin: 1em 0;
		font-size: 2em;
		text-align: center;
	}

	.savon,
	.info_box {
		text-align: justify;
		margin: 3em 0 1em 0;
	}

	.info_box {
		padding: 1em;
	}

	.savon .inner img {
		margin: 0 auto;
	}

	.boutique_wrap div {
		margin: 1em 0;
	}

	.location {
		padding: 0;
		font-size: 1.4em;
		text-align: center;
	}

	.logo {
		font-size: 30px;
	}
}
